<ion-view id="#pj">
    <div class="list product">
        <div class="item  item-borderless">
            <h3>| 商品评价</h3>
        </div>
        <div class="item item-avatar-left ">
            <img src="images/4fd38b47f8223429f038f45ace3b5feb5a00fd84343bf-r31e4K_fw658.jpg"/>
            <span>阳光心情</span>
        </div>
        <div class="item item-borderless">
            <p>收到礼物感觉很惊喜，亲爱的知道后感动得哭了</p>
        </div>
        <div class="item item-avatar-left">
            <img src="images/4fd38b47f8223429f038f45ace3b5feb5a00fd84343bf-r31e4K_fw658.jpg"/>
            <span>阳光心情</span>
        </div>
        <div class="item item-borderless">
            <p>收到礼物感觉很惊喜，亲爱的知道后感动得哭了</p>
        </div>
    </div>

</ion-view>