
//卷首语
<ion-view id="guideshow">
    <ion-nav-buttons side="right">
        <div class="button button-balanced" ui-sref="home" ng-if="isShow">进入</div>
    </ion-nav-buttons>
    <!--<ion-content>-->
    <ion-slide-box on-slide-changed="onSlideChanged()">
        <ion-slide>
           <img src="../../images/20111205185948_XAVkx.jpg"/>
        </ion-slide>
        <ion-slide>
            <img src="../../images/ sy_20120329115442035165.jpg"/>
        </ion-slide>
        <ion-slide>
            <img src="../../images/20111205185948_XAVkx.jpg"/>
        </ion-slide>
    </ion-slide-box>
    <!--</ion-content>-->
</ion-view>