<ion-tabs class="tabs-stable tabs-icon-top" id="tabs" ng-class="{'tabs-item-hide':$root.hideTabs}">
    <ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabs.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="购物" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="tabs.shoping">
        <ion-nav-view name="tab-shoping"></ion-nav-view>
    </ion-tab>
    <ion-tab title="社区" icon-on="ion-ios-color-filter" icon-off="ion-ios-color-filter-outline" ui-sref="tabs.community">
        <ion-nav-view name="tab-community"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.me">
        <ion-nav-view name="tab-me"></ion-nav-view>
    </ion-tab>
</ion-tabs>