<ion-view hide-back-button="true" view-title="一往情深">

        <div class="list card">
            <div class="item">
                <h3 style="text-align: center;color:#ccc">- 一往情深 -</h3>
            </div>
            <div class="item item-image">
                <img src="images/f_9010966.jpg"/>
            </div>
            <div class="item">
                <h3 style="text-align: center;color:#ccc">- 设计师说 -</h3>
            </div>
            <div class="item item-image item-borderless">
                <img src="images/TB4_50x50.jpg"/>
            </div>
            <div class="item item-image item-borderless">
            <img src="images/20141281852154878970.jpg"/>
        </div>
            <div class="item item-image item-borderless">
                <img src="images/20141211630223056338.jpg"/>
            </div>
            <div class="item item-image item-borderless">
                <img src="images/20141281852244787784.jpg"/>
            </div>
            <div class="item item-image item-borderless">
                <img src="images/cardstyle.jpg"/>
            </div>

        </div>
</ion-view>